*.backup*
*.jou
*.log
*.str
*.pyc
.DS_Store
rsa-project/vivado.*
rsa-project/vivado_*
rsa-project/.Xil/
rsa-project/webtalk*
rsa-project/rsa_project
rsa-project/src/sdk/.metadata*
rsa-project/rsa_project/*